/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
/* Import Tailwind CSS */
@import 'tailwindcss';

/* Apply Google Fonts to the body */
body {
  font-family: 'Inter', sans-serif;
}

/*remove default formatting,font antialiasing, text color*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  color: var(--text-light);
  
  user-select: none;
}

img {
  pointer-events: none;
}

/*Variables for colors*/
:root {
  --bg-light: #fdfae5;
  --bg-light-secondary: #f9efd0;
  --overlay-dark: #000000;
  --separator-light: #b6b6b6;
  --separator-dark: #e6e6e6;
  --text-light: #646464;
  --text-light-secondary: #808080;
  --text-dark: #ebebeb;
  --img-bg-light: #fffef6;
  --icon-light: #646464;
  --border-light: #b6b6b6;
  --confirmation-text: #497d00;
  --alert-text: #c70036;
}

/* drag region */
.drag-region {
  -webkit-app-region: drag;
}

/* not drag region */
.not-drag-region {
  -webkit-app-region: no-drag;
}


.btn-hover {
  transition: all 0.2s ease-in-out;
}

.btn-hover:hover {
  transform: scale(1.05);
}

